* {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  margin: auto;
  text-align: center;
}
#wrap .head_inner {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 110px;
  background-color: beige;
  position: fixed;
}
#wrap .head_inner ul {
  display: inline-block;
}
#text {
  padding-left: 50px;
}
.HowToOrder {
  padding-top: 110px;
}
.HowToOrder-img {
  margin-left: -590px;
}
.HowToOrder-text {
  position: absolute;
}
.HowToOrder ul li {
  list-style: none;
  text-align: left;
  color: white;
}
.FirstVisitGongcha-text ul li {
  list-style: none;
}

.step1-text {
  position: absolute;
  float: left; /*왼쪽 정렬 필요*/
}
.step1-text ul li {
  list-style: none;
}
.step2 ul li {
  list-style: none;
} /*미구현*/
